
@font-face{
  font-family:Bembo;
  src:url(../Font/Bembo);
}

@font-face{
  font-family: Univ1;
  src:url(../Font/UniversLTStd-Light.otf);
}

.container{
  width: 960px;
  height:auto;
  margin: 0 auto;
}

li{
  margin:30px;
  float: left;
  list-style: none;
}

li:nth-child(3n){
  margin:30px 0 30px 30px;
  float: left;
  list-style: none;
}

.btn1 {
  position: relative;
  width: 250px;
  height: 40px;
  cursor: pointer;
  font-family: Bembo;
  font-style: italic;
  text-overflow: clip;
  letter-spacing: 1px;
  background: rgba(0,0,0,0);
  -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
     -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
       -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
          transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  overflow: hidden;
  border: 2px solid rgb(30,205,151);
  display: table-cell;
  vertical-align: middle;
  color:rgb(30, 205, 151);
  -o-text-overflow: clip;
  text-align: center;
}

.btn1:hover {
  overflow: visible;
  width:250px;
  color: rgba(255,255,255,1);
  background: rgb(30, 205, 151);
  -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0), all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
     -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0), all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
       -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0), all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
          transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0), all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}

.btn1 p {
  margin-left: 0;
  -webkit-transition: margin-left .3s cubic-bezier(.73,.01,.41,.99) 0.1s;
     -moz-transition: margin-left .3s cubic-bezier(.73,.01,.41,.99) 0.1s;
      -ms-transition: margin-left .3s cubic-bezier(.73,.01,.41,.99) 0.1s;
       -o-transition: margin-left .3s cubic-bezier(.73,.01,.41,.99) 0.1s;
          transition: margin-left .3s cubic-bezier(.73,.01,.41,.99) 0.1s;
}

.btn1:hover p {
  margin-left: 30px;
}

.btn1:active {
  border: 2px solid rgba(33,224,163,1);
  background: rgba(33,224,163,1);
  -webkit-transition: none;
     -moz-transition: none;
     -o-transition  : none;
          transition: none;
}

.btn1 .arrow{
  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
  width:10px;
  height: 16px;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: -5%;
  margin-top: -10px;
  -webkit-transition: all .3s cubic-bezier(.73,.01,.41,.99) 0.2s;
     -moz-transition: all .3s cubic-bezier(.73,.01,.41,.99) 0.2s;
      -ms-transition: all .3s cubic-bezier(.73,.01,.41,.99) 0.2s;
       -o-transition: all .3s cubic-bezier(.73,.01,.41,.99) 0.2s;
          transition: all .3s cubic-bezier(.73,.01,.41,.99) 0.2s;

}

.btn1:hover .arrow {
  opacity:1;
  left:40%;
}





/* 2 */

.btn2 {
  position: relative;
  width: 250px;
  height: 40px;
  cursor: pointer;
  margin: 0 auto;
  font-family: Bembo;
  font-style: italic;
  text-align: center;
  text-overflow: clip;
  letter-spacing: 1px;
  background: rgba(0,0,0,0);
  -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
     -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
       -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
          transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  overflow: hidden;
  display: table-cell;
  border: 2px solid rgb(30,205,151);
  vertical-align: middle;
  color:rgb(30, 205, 151);
  -o-text-overflow: clip;
}

.btn2:hover {
  overflow: visible;
  width:250px;
  color: rgba(255,255,255,1);
  background: rgb(30, 205, 151);
  -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0), all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
     -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0), all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
       -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0), all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
          transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0), all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}

.btn2 p {
  margin-left: 0;
  -webkit-transition: margin-left .3s cubic-bezier(.73,.01,.41,.99) 0.1s;
     -moz-transition: margin-left .3s cubic-bezier(.73,.01,.41,.99) 0.1s;
      -ms-transition: margin-left .3s cubic-bezier(.73,.01,.41,.99) 0.1s;
       -o-transition: margin-left .3s cubic-bezier(.73,.01,.41,.99) 0.1s;
          transition: margin-left .3s cubic-bezier(.73,.01,.41,.99) 0.1s;
}

.btn2:hover p {
  margin-left: -30px;
}

.btn2:active {
  border: 2px solid rgba(33,224,163,1);
  background: rgba(33,224,163,1);
  -webkit-transition: none;
     -moz-transition: none;
     -o-transition  : none;
          transition: none;
}

.btn2 .arrow{
  background-image: url(../img/download.png);
  background-repeat: no-repeat;
  width:16px;
  height: 10px;
  opacity: 0;
  position: absolute;
  top: -50%;
  right: 36%;
  margin-top: -6px;
  -webkit-transition: all .2s cubic-bezier(.73,.01,.41,.99) 0.2s;
     -moz-transition: all .2s cubic-bezier(.73,.01,.41,.99) 0.2s;
      -ms-transition: all .2s cubic-bezier(.73,.01,.41,.99) 0.2s;
       -o-transition: all .2s cubic-bezier(.73,.01,.41,.99) 0.2s;
          transition: all .2s cubic-bezier(.73,.01,.41,.99) 0.2s;

}

.btn2:hover .arrow {
  opacity:1;
  top:50%;
}






/* 3 */


.btn3 {
  position: relative;
  width: 250px;
  height: 40px;
  cursor: pointer;
  margin: 0 auto;
  font-family: Bembo;
  font-style: italic;
  text-overflow: clip;
  letter-spacing: 1px;
  background: rgba(0,0,0,0);
  -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
     -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
       -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
          transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  overflow: hidden;
  border: 2px solid rgb(30,205,151);
  color:rgb(30, 205, 151);
  -o-text-overflow: clip;
  text-align: center;
}

.btn3:hover {
  overflow: visible;
  width:250px;
  color: rgba(255,255,255,1);
  background: rgb(30, 205, 151);
  -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0), all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
     -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0), all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
       -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0), all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
          transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0), all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}

.btn3:active {
  border: 2px solid rgba(33,224,163,1);
  background: rgba(33,224,163,1);
  -webkit-transition: none;
     -moz-transition: none;
     -o-transition  : none;
          transition: none;
}

.btnWrrap{
  width:40%;
  margin: 0 auto;
  position: relative;
  top: 50%;
  margin-top: -7px;
}

.btn3 p {
  float:left;
  -webkit-transition: margin-left .3s cubic-bezier(.73,.01,.41,.99) 0.1s;
     -moz-transition: margin-left .3s cubic-bezier(.73,.01,.41,.99) 0.1s;
      -ms-transition: margin-left .3s cubic-bezier(.73,.01,.41,.99) 0.1s;
       -o-transition: margin-left .3s cubic-bezier(.73,.01,.41,.99) 0.1s;
          transition: margin-left .3s cubic-bezier(.73,.01,.41,.99) 0.1s;
}

.menuIco{
  position: absolute;
  width: 18px;
  height: 18px;
  right: 0;
  top: -2px;
}

.menuIco .pxls{
  margin:1px;
  width: 0px;
  height: 0px;
  float:left;
  border:2px solid rgb(30, 205, 151);
}

.pxl1,.pxl4,.pxl7{
  margin-left: 0;
}

.pxl3,.pxl6,.pxl9{
  margin-right: 0;
}

.btn3:hover .pxl1{
  border:2px solid #fff;
  -webkit-transition: border .25s cubic-bezier(.73,.01,.41,.99) 0.1s;
     -moz-transition: border .25s cubic-bezier(.73,.01,.41,.99) 0.1s;
      -ms-transition: border .25s cubic-bezier(.73,.01,.41,.99) 0.1s;
       -o-transition: border .25s cubic-bezier(.73,.01,.41,.99) 0.1s;
          transition: border .25s cubic-bezier(.73,.01,.41,.99) 0.1s;
}

.btn3:hover .pxl2{
  border:2px solid #fff;
  -webkit-transition: border .25s cubic-bezier(.73,.01,.41,.99) 0.2s;
     -moz-transition: border .25s cubic-bezier(.73,.01,.41,.99) 0.2s;
      -ms-transition: border .25s cubic-bezier(.73,.01,.41,.99) 0.2s;
       -o-transition: border .25s cubic-bezier(.73,.01,.41,.99) 0.2s;
          transition: border .25s cubic-bezier(.73,.01,.41,.99) 0.2s;
}

.btn3:hover .pxl3{
  border:2px solid #fff;
  -webkit-transition: border .25s cubic-bezier(.73,.01,.41,.99) 0.3s;
     -moz-transition: border .25s cubic-bezier(.73,.01,.41,.99) 0.3s;
      -ms-transition: border .25s cubic-bezier(.73,.01,.41,.99) 0.3s;
       -o-transition: border .25s cubic-bezier(.73,.01,.41,.99) 0.3s;
          transition: border .25s cubic-bezier(.73,.01,.41,.99) 0.3s;
}


.btn3:hover .pxl4{
  border:2px solid #fff;
  -webkit-transition: border .25s cubic-bezier(.73,.01,.41,.99) 0.5s;
     -moz-transition: border .25s cubic-bezier(.73,.01,.41,.99) 0.5s;
      -ms-transition: border .25s cubic-bezier(.73,.01,.41,.99) 0.5s;
       -o-transition: border .25s cubic-bezier(.73,.01,.41,.99) 0.5s;
          transition: border .25s cubic-bezier(.73,.01,.41,.99) 0.5s;
}

.btn3:hover .pxl5{
  border:2px solid #fff;
  -webkit-transition: border .25s cubic-bezier(.73,.01,.41,.99) 0.6s;
     -moz-transition: border .25s cubic-bezier(.73,.01,.41,.99) 0.6s;
      -ms-transition: border .25s cubic-bezier(.73,.01,.41,.99) 0.6s;
       -o-transition: border .25s cubic-bezier(.73,.01,.41,.99) 0.6s;
          transition: border .25s cubic-bezier(.73,.01,.41,.99) 0.6s;
}

.btn3:hover .pxl6{
  border:2px solid #fff;
  -webkit-transition: border .25s cubic-bezier(.73,.01,.41,.99) 0.7s;
     -moz-transition: border .25s cubic-bezier(.73,.01,.41,.99) 0.7s;
      -ms-transition: border .25s cubic-bezier(.73,.01,.41,.99) 0.7s;
       -o-transition: border .25s cubic-bezier(.73,.01,.41,.99) 0.7s;
          transition: border .25s cubic-bezier(.73,.01,.41,.99) 0.7s;
}


.btn3:hover .pxl7{
  border:2px solid #fff;
  -webkit-transition: border .25s cubic-bezier(.73,.01,.41,.99) 0.9s;
     -moz-transition: border .25s cubic-bezier(.73,.01,.41,.99) 0.9s;
      -ms-transition: border .25s cubic-bezier(.73,.01,.41,.99) 0.9s;
       -o-transition: border .25s cubic-bezier(.73,.01,.41,.99) 0.9s;
          transition: border .25s cubic-bezier(.73,.01,.41,.99) 0.9s;
}

.btn3:hover .pxl8{
  border:2px solid #fff;
  -webkit-transition: border .25s cubic-bezier(.73,.01,.41,.99) 1s;
     -moz-transition: border .25s cubic-bezier(.73,.01,.41,.99) 1s;
      -ms-transition: border .25s cubic-bezier(.73,.01,.41,.99) 1s;
       -o-transition: border .25s cubic-bezier(.73,.01,.41,.99) 1s;
          transition: border .25s cubic-bezier(.73,.01,.41,.99) 1s;
}

.btn3:hover .pxl9{
  border:2px solid #fff;
  -webkit-transition: border .25s cubic-bezier(.73,.01,.41,.99) 1.1s;
     -moz-transition: border .25s cubic-bezier(.73,.01,.41,.99) 1.1s;
      -ms-transition: border .25s cubic-bezier(.73,.01,.41,.99) 1.1s;
       -o-transition: border .25s cubic-bezier(.73,.01,.41,.99) 1.1s;
          transition: border .25s cubic-bezier(.73,.01,.41,.99) 1.1s;
}





/* 4 */



.btn4 {
  position: relative;
  width: 250px;
  height: 40px;
  cursor: pointer;
  margin: 0 auto;
  font-family: Bembo;
  font-style: italic;
  text-align: center;
  letter-spacing: 1px;
  -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
     -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
       -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
          transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  overflow: hidden;
  border: 2px solid rgb(30,205,151);
  color:rgba(255,255,255,1);
  -o-text-overflow: clip;
}

.btn4:hover {
  -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0), all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
     -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0), all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
       -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0), all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
          transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0), all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}

.btn4 p {
  margin-left: 0;
     -moz-transition: color .3s cubic-bezier(.73,.01,.41,.99) 0.1s;
      -ms-transition: color .3s cubic-bezier(.73,.01,.41,.99) 0.1s;
       -o-transition: color .3s cubic-bezier(.73,.01,.41,.99) 0.1s;
          transition: color .3s cubic-bezier(.73,.01,.41,.99) 0.1s;
  -webkit-transition: color .3s cubic-bezier(.73,.01,.41,.99) 0.1s;
  color: #fff;
  position: absolute;
  top: 13px;
  left: 96px;
}

.btn4:hover p{
  color: rgb(30,205,151);

}

.btn4:active {
  border: 2px solid rgba(33,224,163,1);
  background: rgba(0,0,0,0);
  -webkit-transition: none;
     -moz-transition: none;
     -o-transition  : none;
          transition: none;
}

.btn4 .gateWrrap{
  width:100%;
  position: relative;
  height: 100%;
  top: 0;
  left: 0;
 -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
}

.gateL{
  position: absolute;
  left:0;
  width:51%;
  height: 600%;
  background: rgb(30,205,151);
  -webkit-transition: all .25s cubic-bezier(.73,.01,.41,.99);
     -moz-transition: all .25s cubic-bezier(.73,.01,.41,.99);
      -ms-transition: all .25s cubic-bezier(.73,.01,.41,.99);
       -o-transition: all .25s cubic-bezier(.73,.01,.41,.99);
          transition: all .25s cubic-bezier(.73,.01,.41,.99);
          top: -150%;
}

.btn4:hover .gateL{
  width:13%;
}

.gateR{
  position: absolute;
  top: -260%;
  right:0;
  width:51%;
  background: rgb(30,205,151);
  height: 600%;
    -webkit-transition: all .25s cubic-bezier(.73,.01,.41,.99);
       -moz-transition: all .25s cubic-bezier(.73,.01,.41,.99);
        -ms-transition: all .25s cubic-bezier(.73,.01,.41,.99);
         -o-transition: all .25s cubic-bezier(.73,.01,.41,.99);
            transition: all .25s cubic-bezier(.73,.01,.41,.99);
}

.btn4:hover .gateR{
  width:13%;
}

